* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-color: black;
  overflow: hidden;
  
}

.hero{
  margin-bottom: 1rem;
    background-image: linear-gradient(red, yellow);
}
.hero-body{
  padding: 0;
}

.hero div{
  display: flex;
    align-items: center;
    justify-content: center;
}

.hero div{
  display: flex;
    align-items: center;
    justify-content: center;
}

.hero-image{
  width: 80%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  
}

.tutorial {
  width: 600px;
  text-align: center;
  margin: auto;
}

figure.image {
  display: flex;
  justify-content: center;
  background-color: black;
}

figure .image img {
  width: 128px;
}

.notification {
  margin-top: 20px !important;
}

.results {
  max-height: 500px;
  overflow-y: scroll;
}

.title .icon {
  margin-left: 15px;
}

.forms {
  display: flex;
  justify-content: space-around;
}

.dropdown-item {
  display: flex;
  align-items: center;
  height: 60px;
}

.dropdown-item img {
  height: 50px;
  margin-right: 10px;
}


.search {
  margin: 2rem;
  align-items: center;
  justify-content: center;
}

.tutorial {
  max-width: 50%;
}

#left-summary {
  color: #fff;
  background-color: rgba(0, 0, 255, 0.9);
  padding: 1rem;
}

#right-summary {
  justify-content: right;
  color: #fff;
  background-color: rgba(255, 0, 0, 0.9);
  padding: 1rem;
}
.column h1, h2, h3, h4, h5{
  color: #fff;
}

.column {
  color: black;
  background-image: linear-gradient(red, yellow);
}

.media-content h4{
  color: #fff !important;
}

.map-div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -2rem;
  /* background-image: url(./img/map.svg); */
}
.map {
  width: 500px;
}

.is-primary {
  background-image: linear-gradient(red, yellow);
}
.is-warning {
  background-image: linear-gradient(blue, yellow);
}